.navi .col-3 a i {
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,117,252,1) 100%); */
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(32,2,2,0.47524947478991597) 50%, rgba(69,117,252,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu ul li {
    margin-right: 5em;
}

.banner {
    margin-top: 10px;
}

.search {
    text-align: center;
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
    margin: 0 auto;
}


/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
    color: red;

}

.carousel-inner .carousel-item img {
    border-radius: 5px;
}

.navi .col-3, .navi .col-6 {
    margin-top:5px;
    }

.signature {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #6633cc;
    border-radius: 5px;
}
.khung{
    margin-left: 0.5em;
    border-radius: 10px;
}

.sanpham {
    color: #FFEE12;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-decoration: none;
    word-spacing: -2px;

}


#footer {
    background-color: whitesmoke;
    color: black;
    margin-top: 70px;
}

#footer a {
    color: black;
}

#h4 {
    text-align: center;
}

#email {
    background-color: black;
}

#col-3 {
    margin-left: -100px;
}

#col-4 {
    margin-left: 100px;
}

#col-1 {
    margin-left: 0;
}

#colr1{
   color: white;
}
