.navi .logo {
  /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,117,252,1) 100%); */
  background: -webkit-radial-gradient(circle, rgba(239,247,0,0.8029805672268908) 21%, rgba(203,120,201,1) 64%, rgba(222,47,218,1) 64%, rgba(0,0,0,0.6097032563025211) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.menu {
  background-color: white;
}


.navi #list a,
.navi #list i,
.navi .button i,
.navi img {
  color: white;
}

.navi .fas {
  font-size: 14px;
}

.navi .bar {
  text-align: center;
}

.navi {
  padding-bottom: 10px;
}

/* Chỉnh Phần Offcanvas */
.navi .bar .button {
  background: none;
  border: none;
}

.offcanvas {
  width: 75% !important;
  height: 100vh;
}

.navi .offcanvas-header {
  height: 50px;
}

.navi .offcanvas-body span {
  color: #000;
  font-family: "SF Pro Display", 'Arial', sans-serif;
  font-size: 13px;
}

.navi .offcanvas-body a {
  padding-top: 12px;
  padding-bottom: 12px;

}

.navi .offcanvas-body .collapse {
  list-style-type: none;
}

.navi .offcanvas-body hr {

  border: #000 solid 0.5px;
}





.banner {
  margin-top: 10px;
}

/* Chỉnh phần bán chạy */
/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
}

/* Color of the arrows */
.slick-next::before,
.slick-prev::before {
  color: black;
}

.slick-text {
  font-weight: bold;
}

.slick-text scroll {
  display: block;
}

.slick-slide {
  border: 1px solid black;
}

.slick-slide text {
  display: block;
}

.carousel-inner .carousel-item img {
  border-radius: 5px;
}

.run {
  margin-left: auto;
  margin-right: auto;
}




.signature {
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 5px;
}


@media only screen and (max-width:990px) and (min-width: 300px) {
  .khung {
    max-width: 45%;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 1px 0px 0px #EDEDED, inset -1px 0px 0px #EDEDED, inset 0px 1px 0px #EDEDED, inset 0px -1px 0px #EDEDED;
  }
}

@media only screen and (max-width:2180px) and (min-width: 990px) {
  .khung {
    max-width: 19%;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 1px 0px 0px #EDEDED, inset -1px 0px 0px #EDEDED, inset 0px 1px 0px #EDEDED, inset 0px -1px 0px #EDEDED;
  }
}


.bg-red-light {
  background-color: rgb(232, 4, 28);
}

#fontstyle {
  display: block;
  font-weight: bold;
}

#footer {
  background-color: whitesmoke;
  color: black;
  margin-top: 70px;
}

#footer a {
  color: black;
}

#h4 {
  text-align: center;
}

#email {
  background-color: black;
}





#col-1 {
  margin-left: 0;
}

#colr1 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}


body {
  background-color: rgba(236, 236, 236, 255);
}




.bd-example .btn-group button {
  border: solid 1px black;
}


section.range-slider {
  position: relative;
  width: 300px;
  height: 100px;
  float: left;
  text-align: center;
}




section.range-slider input[type="range"] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 14px;
  background: #f1efef;
  box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  overflow: hidden;
  left: 0;
  top: 50px;
  width: 300px;
  outline: none;
  height: 20px;
  margin: 0;
  padding: 0;
}

section.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413f41));
  /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top, #dad8da 0, #413f41 100%);
  /* older mobile safari and android > 2.2 */
  background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 0;
  background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
  /* W3C */
}

section.range-slider input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

section.range-slider input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}



/* Giỏ hàng */

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navi {
  min-height: 85px;
}

@media only screen and (max-width:1000px) and (min-width: 400px) {
  .toolbar-menu-mobile {
    background: #fff;
    bottom: 0;
    border-top: 2px solid #e10b24;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    display: flex;
    position: fixed !important;
    width: 100%;
    z-index: 3;
  }

  .toolbar-menu-mobile .row .col-3 {
    text-align: center;
  }

  .toolbar-menu-mobile .row .col-3 i {
    font-size: 24px;
  }

  .toolbar-menu-mobile .row .col-3 span {
    font-size: 16px;

  }

}

@media only screen and (max-width:400px) {
  .toolbar-menu-mobile {
    background: #fff;
    bottom: 0;
    border-top: 2px solid #e10b24;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    display: flex;
    position: fixed !important;
    width: 100%;
    z-index: 3;
  }

  .toolbar-menu-mobile .row .col-3 {
    text-align: center;
  }

  .toolbar-menu-mobile .row .col-3 i {
    font-size: 18px;
  }

  .toolbar-menu-mobile .row .col-3 span {
    font-size: 10px;
    font-weight: bolder;
  }

}

@media only screen and (max-width:1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}


@media only screen and (max-width: 576px) {

  /* Phần header */
  .navi .offcanvas-header {
    height: fit-content;
  }

  .navi .offcanvas-title {
    font-size: 15px;
  }

  .navi .offcanvas-body span {
    color: #000;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 15px;
  }

  .navi .offcanvas-body span svg {
    width: 15px !important;
    height: 15px !important;
  }

  .navi .offcanvas-body svg {
    width: 10px !important;
    height: 6px !important;
    margin-bottom: 0.5em !important;
  }

  /* Phần header */
  .navi {
    padding-top: 10px;
  }

  .navi .fas {
    font-size: 14px;
  }

  .navi .row .col-12 {
    align-items: center;
  }

  .navi .row .col-12 .col-12 {
    text-align: center;
  }

  .navi img {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    margin-left: 0.5em;
  }


  /* Phần sản phẩm bán chạy */
  .sanpham {
    color: black;
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    word-spacing: 2px;
  }

  .property p {
    font-size: 13px;
  }


}

@media only screen and (max-width: 768px) and (min-width: 576px) {

  /* Phần Header */
  .navi .offcanvas-header {
    height: fit-content;
  }

  .navi .offcanvas-title {
    font-size: 20px;
  }

  .navi .offcanvas-body span {
    color: #000;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 20px;
  }

  .navi .offcanvas-body span svg {
    width: 20px !important;
    height: 20px !important;
  }

  .navi .offcanvas-body svg {
    width: 15px !important;
    height: 9px !important;
    margin-bottom: 0.5em !important;
  }

  /* Phần Header */
  .navi {
    padding-top: 10px;
  }

  .navi .fas {
    font-size: 20px;
  }

  .navi img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-left: 1em;
  }


  /* Phần sản phẩm bán chạy */
  .sanpham {
    color: black;
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    word-spacing: 2px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

  /* Phần Header */
  .navi .offcanvas-header {
    height: fit-content;
  }

  .navi .offcanvas-title {
    font-size: 30px;
  }

  .navi .offcanvas-body span {
    color: #000;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 30px;
  }

  .navi .offcanvas-body span svg {
    width: 30px !important;
    height: 30px !important;
  }

  .navi .offcanvas-body svg {
    width: 20px !important;
    height: 12px !important;
    margin-bottom: 0.5em !important;
  }

  /* Phần Header */
  .navi {
    padding-top: 40px;
  }

  .navi .fas {
    font-size: 20px;
  }

  .navi img {
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-left: 1em;
  }

  /* Phần sản phẩm bán chạy */
  .sanpham {
    color: black;
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    word-spacing: 2px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 992px) {

  /* Phần Header */
  .navi .offcanvas-header {
    height: fit-content;
  }

  .navi .offcanvas-title {
    font-size: 35px;
  }

  .navi .offcanvas-body span {
    color: #000;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 35px;
  }

  .navi .offcanvas-body span svg {
    width: 35px !important;
    height: 35px !important;
  }

  .navi .offcanvas-body svg {
    width: 20px !important;
    height: 12px !important;
    margin-bottom: 0.5em !important;
  }

  /* Phần Header */
  .navi {
    padding-top: 40px;
  }

  .navi .fas {
    font-size: 28px;
  }

  .navi img {
    width: 50px;
    height: 50px;
    margin-left: 2em;
  }


  /* Phần sản phẩm bán chạy */
  .sanpham {
    color: black;
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    word-spacing: 2px;
  }
}

@media only screen and (min-width: 1280px) {

  /* Phần header */
  .navi .fas {
    font-size: 30px;
  }

  .navi img {
    width: 60px;
    height: 60px;
    margin-bottom: 1.5em;
    margin-left: 2em;
  }

  /* Phần Menu */
  .menu ul li {
    margin-right: 4em;
  }

  /* Phần sản phẩm bán chạy */
  .sanpham {
    color: black;
    font-family: "SF Pro Display", "Arial", sans-serif;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    word-spacing: 2px;
  }
}