.logo {
    /* background: rgb(131,58,180);
      background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,117,252,1) 100%); */
    background: -webkit-radial-gradient(circle, rgba(239,247,0,0.8029805672268908) 21%, rgba(203,120,201,1) 64%, rgba(222,47,218,1) 64%, rgba(0,0,0,0.6097032563025211) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  
  .menu {
    background-color: white;
  }
  
  
  .navi #list a,
  .navi #list i,
  .navi .button i,
  .navi img {
    color: white;
  }
  
  .navi .fas {
    font-size: 14px;
  }
  
  .navi .bar {
    text-align: center;
  }
  
  .navi {
    padding-bottom: 10px;
  }
  
  /* Chỉnh Phần Offcanvas */
  .navi .bar .button {
    background: none;
    border: none;
  }
  
  .offcanvas {
    width: 75% !important;
    height: 100vh;
  }
  
  .navi .offcanvas-header {
    height: 50px;
  }
  
  .navi .offcanvas-body span {
    color: #000;
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 13px;
  }
  
  .navi .offcanvas-body a {
    padding-top: 12px;
    padding-bottom: 12px;
  
  }
  
  .navi .offcanvas-body .collapse {
    list-style-type: none;
  }
  
  .navi .offcanvas-body hr {
  
    border: #000 solid 0.5px;
  }
  
  
  
  
  
  .banner {
    margin-top: 10px;
  }

  
  
  
  
  
  
  
  
  .bg-red-light {
    background-color: rgb(232, 4, 28);
  }
  
  #fontstyle {
    display: block;
    font-weight: bold;
  }
  
  #footer {
    background-color: whitesmoke;
    color: black;
    margin-top: 70px;
  }
  
  #footer a {
    color: black;
  }
  
  #h4 {
    text-align: center;
  }
  
  #email {
    background-color: black;
  }
  
  
  
  
  
  #col-1 {
    margin-left: 0;
  }
  
  #colr1 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  
  body {
    background-color: rgba(236, 236, 236, 255);
  }
  

  
  .bd-example .btn-group button {
    border: solid 1px black;
  }
  

  
  
  
  /* Giỏ hàng */
  
  .sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  .navi {
    min-height: 85px;
  }
  

  
  
  @media only screen and (max-width: 576px) {
  
    /* Phần header */
    .navi .offcanvas-header {
      height: fit-content;
    }
  
    .navi .offcanvas-title {
      font-size: 15px;
    }
  
    .navi .offcanvas-body span {
      color: #000;
      font-family: "SF Pro Display", 'Arial', sans-serif;
      font-size: 15px;
    }
  
    .navi .offcanvas-body span svg {
      width: 15px !important;
      height: 15px !important;
    }
  
    .navi .offcanvas-body svg {
      width: 10px !important;
      height: 6px !important;
      margin-bottom: 0.5em !important;
    }
  
    /* Phần header */
    .navi {
      padding-top: 10px;
    }
  
    .navi .fas {
      font-size: 14px;
    }
  
    .navi .row .col-12 {
      align-items: center;
    }
  
    .navi .row .col-12 .col-12 {
      text-align: center;
    }
  
    .navi img {
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      margin-left: 0.5em;
    }
  
  

  
  
  }
  
  @media only screen and (max-width: 768px) and (min-width: 576px) {
  
    /* Phần Header */
    .navi .offcanvas-header {
      height: fit-content;
    }
  
    .navi .offcanvas-title {
      font-size: 20px;
    }
  
    .navi .offcanvas-body span {
      color: #000;
      font-family: "SF Pro Display", 'Arial', sans-serif;
      font-size: 20px;
    }
  
    .navi .offcanvas-body span svg {
      width: 20px !important;
      height: 20px !important;
    }
  
    .navi .offcanvas-body svg {
      width: 15px !important;
      height: 9px !important;
      margin-bottom: 0.5em !important;
    }
  
    /* Phần Header */
    .navi {
      padding-top: 10px;
    }
  
    .navi .fas {
      font-size: 20px;
    }
  
    .navi img {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
      margin-left: 1em;
    }
  
  
 
  }
  
  @media only screen and (max-width: 992px) and (min-width: 768px) {
  
    /* Phần Header */
    .navi .offcanvas-header {
      height: fit-content;
    }
  
    .navi .offcanvas-title {
      font-size: 30px;
    }
  
    .navi .offcanvas-body span {
      color: #000;
      font-family: "SF Pro Display", 'Arial', sans-serif;
      font-size: 30px;
    }
  
    .navi .offcanvas-body span svg {
      width: 30px !important;
      height: 30px !important;
    }
  
    .navi .offcanvas-body svg {
      width: 20px !important;
      height: 12px !important;
      margin-bottom: 0.5em !important;
    }
  
    /* Phần Header */
    .navi {
      padding-top: 40px;
    }
  
    .navi .fas {
      font-size: 20px;
    }
  
    .navi img {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
      margin-left: 1em;
    }
  
 
  }
  
  @media only screen and (max-width: 1280px) and (min-width: 992px) {
  
    /* Phần Header */
    .navi .offcanvas-header {
      height: fit-content;
    }
  
    .navi .offcanvas-title {
      font-size: 35px;
    }
  
    .navi .offcanvas-body span {
      color: #000;
      font-family: "SF Pro Display", 'Arial', sans-serif;
      font-size: 35px;
    }
  
    .navi .offcanvas-body span svg {
      width: 35px !important;
      height: 35px !important;
    }
  
    .navi .offcanvas-body svg {
      width: 20px !important;
      height: 12px !important;
      margin-bottom: 0.5em !important;
    }
  
    /* Phần Header */
    .navi {
      padding-top: 40px;
    }
  
    .navi .fas {
      font-size: 28px;
    }
  
    .navi img {
      width: 50px;
      height: 50px;
      margin-left: 2em;
    }
  
  
  
  }
  
  @media only screen and (min-width: 1280px) {
  
    /* Phần header */
    .navi .fas {
      font-size: 30px;
    }
  
    .navi img {
      width: 60px;
      height: 60px;
      margin-bottom: 1.5em;
      margin-left: 2em;
    }
  
 
  }


  #buy-amount button {
    width: 25px;
    height: 25px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
    cursor: pointer;
  }

  #buy-amount button:hover {
    background-color: #ececec;
  }

  #buy-amount button svg {
    color: #909090;
  }

  #buy-amount button:hover svg {
    color: #4f4f4f;
  }

  .summary-shipping {
    font-weight: 600;
    padding-bottom: 8px;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .totalprice {
    color: red;
    font-size: 24px;
  }

  .summary-action button {
    width: 100%;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    height: 50px;
    font-weight: bolder;
  }